@import "normalize.css"
@import "foundation.min.css"
@import "nib"
@import "pygments.css"


@import "code.styl"

$blue-light = #1ab7ea
$pink = #eb4d94
$pink-dark = #9e0047
$gray-bg = #eaeced
$gray-dark = #39434a
$green-bright = #99ec51

body
  font-family: 'PT Sans', Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #000;


p
  margin: 7px 0;

a
  color: $pink;
  text-decoration: none;
  &:visited
    color: $pink-dark;


@import "header.styl"
@import "post.styl"


ul.items
  & li.item
    list-style: none;
    & a
      text-transform: uppercase;
    & p
      margin-top: 10px;















