@import "normalize.min.css"
@import "foundation.min.css"
@import "font-awesome.css"


.row > .content
  width: 1000px;

article.post-content
  & h1
    font-size: 1.5em;
  & h2
    font-size: 1.1em;
    margin-top: 1.5em;
  & ul
    list-style-position: inside;


ul.posts
  & li.post
    list-style: none;

header.post-metadata
  a.author
    margin-right: 0.5em;

p.discussion-link
  font-size: 0.8em;
  margin-top: 1em;

p.licence
  font-size: 0.8em;
  margin: 1.2em;