.post
  & p > code
    margin-left: 15px;
    margin-right: 15px;

  & code
  & pre[class="brush: clojure"]
  & pre[class="brush: shell"]
  & div.highlight
    font-family: Courier, monospace;
    font-weight: normal;
    color: $code-color;
    background-color: $code-background;
    display: block;
    margin: 15px;
    padding: 10px 15px;

    & .s
      color: $link-color;

    & .p
    & .o
    & .se
      color: $additional-grey;
    & .mi
    & .mo
    & .mf
      color: $main-grey;
