.post
  & p > code
    margin-left: 15px;
    margin-right: 15px;

  & code
  & pre[class="brush: clojure"]
  & pre[class="brush: shell"]
  & div.highlight
    font-family: Courier, monospace;
    font-weight: normal;
    color: $green-bright;
    background-color: $dark-bg;
    display: block;
    margin: 15px;
    padding: 0;

    & .s
      color: $pink;

    & .p
    & .o
    & .se
      color: $gray-bg;
    & .mi
    & .mo
    & .mf
      color: $gray-bg;
