.top-bar
.top-bar .name
  height: 65px;

  & .toggle-topbar.menu-icon
    top: 0;
    right: 25px;
    margin-top: 0;
    padding-left: 0;

  & div.logo
    margin: 5px 0;
    background-image: url('/images/hashobject-logo.png');
    width: 246px;
    height: 53px;



.contain-to-grid .top-bar
.contain-to-grid .tab-bar
  margin-bottom: 20px;


.contain-to-grid
.top-bar
.top-bar.expanded .title-area
.top-bar-section ul
.top-bar-section li
  background: white;


.top-bar-section ul li
  padding-left: 0;
  padding-right: 0;
  & > a:not(.button)
    padding-top: 15px;
    padding-bottom: 20px;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    &:visited
      color: black;
  &.active
  &:hover
    & > a:not(.button)
      background-color: $blue-light;
      color: white;


nav.tab-bar
.left-off-canvas-menu
.right-off-canvas-menu
  background-color: #1ab7ea;
  color: #fff;
  text-transform: uppercase;


.menu-icon:hover span
  box-shadow:0 10px 0 1px #b3b3b3,0 16px 0 1px #b3b3b3,0 22px 0 1px $gray-dark;

.move-right a.exit-off-canvas
  box-shadow: initial;

.left-off-canvas-menu
  & ul
    list-style: none;
    margin: 0;

    & li
      padding-left: 20px;
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid white;
      border-bottom: 1 solid white;
      &:first-child
        border-top: 0px solid white;
      &:last-child
        border-bottom: 1px solid white;
      & > label
        font-size: 1em;
        margin-bottom: 0;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
      & > a
        color: black;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;
        text-transform: uppercase;
        &:visited
          color: black;
      &.active
      &:hover
        & > a
          background-color: $blue-light;
          color: white;
