@import "normalize.css"
@import "foundation.min.css"
@import "nib"
@import "pygments.css"


$blue-light = #1ab7ea
$pink = #eb4d94
$pink-dark = #9e0047
$gray-bg = #eaeced
$gray-dark = #39434a
$green-bright = #99ec51
$dark-bg = #3a434a

body
  font-family: 'PT Sans', Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #000;


p
  margin: 7px 0;

a
  color: $pink;
  text-decoration: none;
  &:visited
    color: $pink-dark;


@import "header.styl"
@import "post.styl"
@import "code.styl"


.row.content
  margin-top: 80px;

ul.items
  margin-left: 0;
  & li.item
    list-style: none;
    margin-bottom: 20px;
    & a.title
      text-transform: uppercase;
    & div.item-meta
      font-size: smaller;
      margin-top: 10px;
      & img
        width: 26px;
        border-radius: 13px;
        margin-right: 13px;
      & .pub-data
        font-size: 0.8em;
        display: inline-block;
